.left-side {
    background-image: url(/assets/Rectangle-331-copy-woman.jpg);
    background-attachment: scroll;
    background-color: transparent;
    background-size: cover;
    z-index: 0;
    background-position: 50% 0;
    padding: 150px 0;
}
.right-side {
    background-image: url(/assets/1.jpg);
    background-attachment: scroll;
    background-color: transparent;
    background-size: cover;
    z-index: 0;
    background-position: 50% 0;
}


.container.xs {
    margin: 0;
    max-width: 100%;
}

.intro {
    padding-bottom: 100px
}