.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  padding-top: 75px;
}

.size-s {
  font-size: 16px;
}

.size-m {
  font-size: 20px;
}

.size-l {
  font-size: 30px;
}

.size-xl {
  font-size: 36px;
}

.size-xxl {
  font-size: 48px;
}

.size-xxxxl {
  font-size: 72px;
}

.App a {
  text-decoration: none;
}

.App ul {
  list-style: none;
  padding-left: 0;
}

ins {
  text-decoration: none;
}

.sh-heading-content {
  font-weight: 400;
  font-family: auto;
}

.product-image {
  text-align: left;
}

.product-image input {
  padding: 0;
  border-radius: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
